h1.question {
  font-size: 150%;
  color: whitesmoke;
  margin-top: 5%;
}
h1.answer {
  font-size: 200%;
  color: whitesmoke;
}

.container{
    min-height: 50vh;
}
.bottomtest{
    display: flex;
    justify-content: space-between;
}
