<div class="container position-relative bg-dark">
  <div class="row">
    <div class="position-absolute top-50 start-50 translate-middle">
      <h1>{{ learningCard.question }}</h1>
    </div>
  </div>
  <!-- <div class="row">
    <div class="position-absolute top-50 start-50 translate-middle">
      {{ learningCard.answer }}
    </div>
  </div> -->
  <div
    class="position-absolute bottom-0 start-50 translate-middle-x d-flex py-1"
  >
    <button type="button" id="" class="btn btn-success flex-fill mx-1">
      Kann ich
    </button>

    <button type="button" id="" class="btn btn-warning flex-fill mx-1">
      Kann ich etwas
    </button>

    <button type="button" id="" class="btn btn-danger flex-fill mx-1">
      Kann ich nicht
    </button>
  </div>
</div>
