<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Lernkarten App</h1>
  <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
  <hr class="my-4" />
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <button (click)="loadCards()" type="button" class="btn btn-primary">
          Start
        </button>
        <!-- []=input, ()=output -->
        <app-learning-card
          *ngIf="activeLearningCard"
          [learningCard]="activeLearningCard"
          (selfRatingOut)="receiveSelfRating($event)"
        ></app-learning-card>

        <div *ngIf="randomLearningCards.length > 0 && activeLearningCardIndex < numberOfRandomCards">
          Frage {{activeLearningCardIndex + 1}} von {{numberOfRandomCards}}
        </div>
      </div>
    </div>
  </div>
</div>
